# Compiled files
/target/
/src-tauri/target/

# Node
node_modules/
dist/

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Tauri
/src-tauri/WixTools/
/src-tauri/icons/

# Bun
bun.lockb

# Build artifacts
*.AppImage
*.deb
*.rpm
*.dmg
*.exe
